@CHARSET "UTF-8";

body {
	color: #FAFAFA;
	background-color: #000000;
}

a { color:#6AEEFD; text-decoration:none; }
a:hover { text-decoration:underline; }

input:focus {
    outline: none;
}

#output {
	font-family: "Courier New";
	font-size: 12px;
}

input {
	font-family: "Courier New";
	font-size: 12px;
	background-color: #000000;
	color: #FAFAFA
}

.error { color:red; }